@using Microsoft.AspNetCore.Mvc.Localization;

@inject IViewLocalizer localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]SAÜ Airlines</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/navbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebProgramlama_Odev.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark ">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Guzergah" asp-action="Index">
                    <img src="/css/Images/sau.png" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Guzergah" asp-action="Index">@localizer["Bilet Al"]</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Contact" asp-action="Index">@localizer["Bize Ulaşın"]</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Admin Panel
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" asp-controller="Admin" asp-action="Settings">@localizer["Ayarlar"]</a></li>
                                
                            </ul>
                        </li>
                    </ul>
                </div>
                <div>
                    

                    
                    @if (User.Identity.IsAuthenticated)
                    {
                                               
                        <form asp-controller="Login" asp-action="Logout" method="post">
                            <button class="btn btn-danger" type="submit">@localizer["Çıkış Yap"]</button>
                        </form>
                    }
                    else
                    {
                        <a class="btn btn-secondary" asp-controller="Login" asp-action="Index">@localizer["Giriş Yap"]</a>
                    }

                </div>


            </div>
        </nav>



    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
